<div class="container flume flow-text">

  <h3 class="center-align">flume</h3>

  <div class="row"></div>

  <div class="row"></div>
  
  <div class="row">
    <div class="col s12 m6">
      <h3 class="center-align project-description">The Problem</h3>
      <p class="center-align project-description project-content flow-text">
        The team needed a fast and reliable alerting system.<br>
        Our production environment consisted of several microservices hosted on Kubernetes clusters and multiple AWS lambdas.<br>
        Our logging solution, Datadog, offered "monitors" which would probe at most once every 5 minutes upon a log's repetition.<br>
        This wasn't going to cut it for several reasons.<br>
        First, we needed to know about an error on the first reporting.
        Second, we only needed to know about it once, and present it to developer's in a elegant and easy-to-read style.<br>
        Datadog's monitors were clogging up our slack channels with expired, delayed and crowded messages.
      </p>
    </div>
    <div class="col s12 m6" style="border-left: 2px solid rgb(245, 242, 238);">
      <h3 class="center-align project-description">The Solution</h3>
      <p class="center-align project-description project-content flow-text">
        Enter flume.<br>
        Flume is a simple application hosted on kubernetes that utilitzes Datadog's API to query our lambda (CloudWatch forwarded) and microservice logs for key words, such as "Timeout" or log levels of "error" and above.<br>
        Any log meeting the above criteria was sent to a singular alert-focused Slack channel via webhook.
        The messages were dynamically color coded according to log severity, with a link to the log in Datadog and a brief summary along with the log itself.<br>
        <br>
        Flume runs every minute to assure immediate notification of errors.<br>
        To trigger flume, I used AWS' CDK to create a CloudFormation Stack consisting of a lambda and a cloudwatch event rule.<br>
        Based on the rule, the lambda would send a GET request to the applcation.<br>
        I did not choose to host the applcation itself as a lambda to ensure scalability.<br>
        Currently we are only sending a small amount of queries but that is subject to change as the business and software infrasturcture grows.<br>
      </p>
    </div>
  </div>


  <div class="row">
      <div class="col s12 m3">
        <!-- aws -->
        <svg width="142px" height="45.381px" viewBox="0 0 142 45.381" enable-background="new 0 0 142 45.381"
          xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <image xlink:href="/assets/Amazon_Web_Services_Logo.svg" x="0" y="0" width="142px" height="45.381px"></image>
        </svg>
      </div>
      <div class="col s12 m3">
        <!-- slack -->
        <a data-clog-click="" data-clog-ui-component="inc_footer_nav" data-clog-ui-element="link_home"
          href="https://slack.com/" aria-label="Slack"><svg width="54" height="54"
            class="c-nav--footer__svgicon c-slackhash" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path
                d="M19.712.133a5.381 5.381 0 0 0-5.376 5.387 5.381 5.381 0 0 0 5.376 5.386h5.376V5.52A5.381 5.381 0 0 0 19.712.133m0 14.365H5.376A5.381 5.381 0 0 0 0 19.884a5.381 5.381 0 0 0 5.376 5.387h14.336a5.381 5.381 0 0 0 5.376-5.387 5.381 5.381 0 0 0-5.376-5.386"
                fill="#36C5F0"></path>
              <path
                d="M53.76 19.884a5.381 5.381 0 0 0-5.376-5.386 5.381 5.381 0 0 0-5.376 5.386v5.387h5.376a5.381 5.381 0 0 0 5.376-5.387m-14.336 0V5.52A5.381 5.381 0 0 0 34.048.133a5.381 5.381 0 0 0-5.376 5.387v14.364a5.381 5.381 0 0 0 5.376 5.387 5.381 5.381 0 0 0 5.376-5.387"
                fill="#2EB67D"></path>
              <path
                d="M34.048 54a5.381 5.381 0 0 0 5.376-5.387 5.381 5.381 0 0 0-5.376-5.386h-5.376v5.386A5.381 5.381 0 0 0 34.048 54m0-14.365h14.336a5.381 5.381 0 0 0 5.376-5.386 5.381 5.381 0 0 0-5.376-5.387H34.048a5.381 5.381 0 0 0-5.376 5.387 5.381 5.381 0 0 0 5.376 5.386"
                fill="#ECB22E"></path>
              <path
                d="M0 34.249a5.381 5.381 0 0 0 5.376 5.386 5.381 5.381 0 0 0 5.376-5.386v-5.387H5.376A5.381 5.381 0 0 0 0 34.25m14.336-.001v14.364A5.381 5.381 0 0 0 19.712 54a5.381 5.381 0 0 0 5.376-5.387V34.25a5.381 5.381 0 0 0-5.376-5.387 5.381 5.381 0 0 0-5.376 5.387"
                fill="#E01E5A"></path>
            </g>
          </svg></a>
      </div>
      <div class="col s12 m3">
        <!-- travis -->
        <svg width="142px" height="45.381px" viewBox="0 0 142 45.381" enable-background="new 0 0 142 45.381"
          xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Travis CI Mascot</title>
          <image xlink:href="https://styleguide.travis-ci.com/images/logos/travis-footer-logo-new.svg" x="0" y="0"
            width="142px" height="45.381px"></image>
        </svg>
      </div>
      <div class="col s12 m3">
        <!-- datadog -->
        <svg width="142px" height="45.381px" viewBox="0 0 142 45.381" enable-background="new 0 0 142 45.381"
          xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <image xlink:href="/assets/dd_logo.svg" x="0" y="0" width="142px" height="45.381px"></image>
        </svg>
      </div>
    </div>


</div>