<div class="container flow-text">
  <h3 class="center-align">Mo Zhou</h3>
  <div class="row project-content">
    <p class="col s4 offset-s4">
      aliquet ultricies vehicula. Duis elementum nulla vel lorem venenatis, tincidunt cursus augue malesuada.
      Nam
      aliquam est ac tellus vehicula, vitae ultrices magna finibus. Etiam hendrerit dolor sit amet ante
      facilisis
      blandit. Cras sapien lectus, consectetur
    </p>
    <h5 class="col s4 offset-s4 center-align" style="font-style: italic;"><a href="#!"
        target="_blank">visit the
        artist's
        website</a></h5>
  </div>
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <svg width="142px" height="45.381px" viewBox="0 0 142 45.381" enable-background="new 0 0 142 45.381"
        xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image xlink:href="/assets/angular.svg" x="0" y="0" width="142px" height="45.381px"></image>
      </svg>
    </div>
  </div>
</div>