<div class="container cz flow-text">
    <h3 class="center-align">Christian Zaremba</h3>
    <div class="row project-content">
        <p class="col s4 offset-s4">
            Christian is a world class operatic bass singer.<br>
            Having performed at top houses, such as the Metropolotan Opera in New York City and The Royal Opera House in
            London's Covent Garden, his website is reflective of his strong stage presence and elegant voice.<br>
            Site built with Angular 7.
        </p>
        <h5 class="col s4 offset-s4 center-align" style="font-style: italic;"><a href="https://www.christianzaremba.com" target="_blank">visit the
                artist's
                website</a></h5>
    </div>
    <div class="row">
        <div class="col s12 m4 offset-m4">
                <svg width="142px" height="45.381px" viewBox="0 0 142 45.381" enable-background="new 0 0 142 45.381"
                xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <image xlink:href="/assets/angular.svg" x="0" y="0"
                  width="142px" height="45.381px"></image>
              </svg>
        </div>
    </div>
</div>